// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
#dashboard {
  background-color: @dark_grey;

  .content {
    background-color: @black;

    #portfolios {
      margin-bottom: 75px;

      .subtext {
        color: @light_grey;
      }

      h3 {
        font-size: 35px;
        margin: 0;
      }
    }

    #order-form {
      .form-group {
        width: 100%;
        input {
          width: 100%;
          background-color: @dark_grey;
          border: none;
          &[type=submit] {
            display: none;
          }
        }
      }
    }

    #watchlist {
      #quote-form, #back {
        display: none;
      }

      .quotes {
        .add-to-watchlist { 
          display: none;
        }
        .remove-from-watchlist { 
          display: block;
        }
      }
    }
  }
}