.side-menu {
  width: 100%;

  &.affix {
    width: 40%;
  }

  .logo {
    height: 70px;
    background-color: @green;
    img {
      width: 40px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      padding-top: 15px;
    }
  }

  .main-menu {
    .menu-item {
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }
  }
}
