#quote-form
  .col-xs-12
    = form_tag quote_path, method: :get do
      .form-group
        = text_field_tag :symbols, nil, placeholder: "Search by stock or name", class: "form-control"
      = submit_tag "Get quote", class: "btn btn-default"