.col-xs-10{data: {behavior: "FundamentalsTooltip"}}
  %h2 Orders
  - @orders.each do |order|
    .col-xs-4.col-sm-3
      = render "order", order: order

  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"